.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  color: #0a66c2; /* Bleu LinkedIn */
}

.grid {
  display: inline-block;
  user-select: none;
  border: 2px solid #0a66c2;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid #0a66c2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  background-color: #f3f6f8;
  transition: background-color 0.3s;
  user-select: none;
}

.cell.numbered {
  background-color: #e1ecf9;
  color: #0a66c2;
  font-weight: 700;
}

.cell.selected {
  background-color: #0a66c2;
  color: white;
}

.cell:hover {
  background-color: #cce4f7;
}
